<%= form_for @aluno, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2>Ocorreu <%= pluralize(@aluno.errors.count, "erro") %> ao salvar os dados do aluno:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Data de Nascimento', :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :dtnascimento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :sexo, ["", "Masculino", "Feminino"], :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cpf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rg, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complemento, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complemento, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bairro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bairro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :estado, ["","AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG", "PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"], :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :turma_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select (:turma_id), Turma.order(:nome), :id, :nome, {include_blank: true}, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("Voltar")),
                alunos_path, :class => 'btn' %>
  </div>
<% end %>
