<%= link_to "Gestor Escolar", alunos_path, :class => 'brand' %>
<ul class="nav">
    <li>
    <%= link_to('Aluno', alunos_path)  %>  
    </li>
</ul>
<ul class="nav">
    <li>
    <%= link_to('Professor', professors_path)  %>  
    </li>
</ul>
<ul class="nav">
    <li>
    <%= link_to('Turma', turmas_path)  %>  
    </li>
</ul>
<ul class="nav">
    <li>
    <%= link_to('Aula', aulas_path)  %>  
    </li>
</ul>

